*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'DM Sans','Bree Serif';
}
/* shared styles start  */
.primary-p {
    font-weight:400;
    font-size:0.6rem;
    line-height:1.3rem;
    color:#484848;
}
/* shared styles end  */
/* navbar styling start  */
nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:1rem;
    transition:all 0.4s ease;
}
.logo{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap:0.5rem;
    position:relative;
    right:5%;
}
nav ul li{
    display:inline-block;
    list-style:none;
    
}
nav ul li a{
    text-decoration:none;
    color:#02073E;
    font-weight:400;
    font-size:0.8rem;
    margin-right:1.5rem;
    transition:all 0.4s ease;

}
nav ul li a:hover{
    color:gray;
}
.logins{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logins li{
    list-style:none;
}
.logins li a{
    text-decoration:none;
    color:#02073E;
    font-size:0.8rem;
    margin-right:0.5rem;
}
.logins button{
    border:none;
    background:#3CC68A;
    color:white;
    font-weight:700;
    padding:0.8rem 1.5rem;
    border-radius:0.5rem;
}
/* navbar styling end  */
/* header banner styling start  */

.header-banner{
    /* max-width:800px; */
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F9FBFD;
    padding:2rem;
    gap:2rem;
    transition:all 0.4s ease;
}
.header-banner h1{
    font-family:bree serif;
    font-size:2rem;
    font-weight:400;
    transition:all 0.4s ease;
}
.header-banner p{
    margin:1rem 0;
    transition:all 0.4s ease;
}
.header-banner-inputs input{
    width:16rem;
    height:2.5rem;
    background:white;
    border:none;
    margin-right:0.5rem;
    box-shadow:2px 2px 10px rgba(128, 128, 128, 0.193);
    border-radius:0.2rem;
    transition:all 0.4s ease;
}
.header-banner-inputs button{
    border:none;
    background:#3CC68A;
    color:white;
    font-weight:700;
    padding:0.8rem 1.5rem;
    border-radius:0.5rem;
}
.header-banner-social{
    display:flex;
    transition:all 0.4s ease;
}
.header-banner-social ul li{
    list-style: none;
    display:inline-block;
    margin-right:1rem;
    margin-top:1rem;
    font-weight:600;
    color:#484848c2;
    transition:all 0.4s ease;
}
.header-banner-picture img{
    width:400px;
    transition:all 0.4s ease;
}
/* header banner styling start  */

/* feature items section 1 start  */
    .feature-section-1{
        margin-top:2rem;
    }
    .feature-1-text{
        text-align:center;
    }
    .feature-1-text p{
        color:#00A99D;
        font-weight:500;
    }
    .feature-1-text h6{
        font-size:1rem;
    }
    .feature-1-items-container{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-top:2rem;
        transition:all 0.4s ease;
    }
    .feature-1-item{
        display:flex;
        margin:2rem;
        transition:all 0.4s ease;
    }
    .feature-1-item i{
        margin-right:1rem;
        transition:all 0.4s ease;
    }
/* feature items section 1 end */
/* feature items section 2 start */
    .feature-item-2-picture img{
        width:500px;
    }
    .feature-item-2-picture {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:3rem;
    }
  
/* feature items section 2 end*/

/* feature section 3 start  */
.feature-section-3-header{
    text-align:center;
    transition:all 0.4s ease;
}
.feature-section-3-header p{
    color:#00A99D;
    font-weight:600;
    transition:all 0.4s ease;
}
.feature-section-3-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items:center;
    padding:1rem;
    max-width:800px;
    margin:100px auto;
    gap:2rem;
    transition:all 0.4s ease;
}
.feature-section-3-item-container {
    display:flex;
    justify-content:center;
    transition:all 0.4s ease;
}
.feature-item-3-i i{
    background-color:#3CC68A;
    padding:1rem;
    font-size: 1.5rem;
    border-radius:50%;
    margin-right:1.5rem;
    transition:all 0.4s ease;
}
.feature-item-3-text {
    line-height:0.9rem;
    transition:all 0.4s ease;
}
.feature-item-3-text button{
    border:none;
    background:none;
    color:#4f96ff;
    transition:all 0.4s ease;
}
/* feature section 3 end */

/* feature section 4 start  */
.feature-section-4-header{
    text-align:center;
}
.feature-section-4-header p{
    color:#00A99D;
    font-weight:700;
}
.feature-section-4-header h3{
    font-weight:500;
}
.feature-section-4-item-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    justify-content:center;
    align-items:center;
    max-width:800px;
    margin:100px auto;
    gap:1rem;
}
.feature-section-4-items{
    border:0.3px solid rgba(0, 0, 0, 0.083);
    width:10rem;
    padding:1rem;
    text-align:center;  
    transition:all 0.4s ease;  
}
.feature-section-4-items:hover{
    transform:scale(1.0.8);
    box-shadow:1px 1px 10px rgba(128, 128, 128, 0.202);
}
.feature-section-4-items h6{
    color:#4f96ff;
    margin-top:0.5rem;
}
/* feature section 4 end */
/* feature section 5 start  */
.feature-section-5-header{
    text-align:center;
}
.feature-section-5-header p{
    color:#00A99D;
    font-weight:700;
}
.feature-section-5-header h3{
    font-weight:500;
}
.feature-section-5-item-container{
    max-width:800px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:50px auto;
    gap:1rem;
}
.feature-section-5-items{
    padding:1.5rem;
    position:relative;
    
}
.another{
    box-shadow:2px 2px 10px #48484838;
    border-radius:0.8rem;
}
.feature-section-5-items h2{
    font-size:0.8rem;
    position:absolute;
    top:0;
    left:0;
    background-color:#00A99D;
    color:white;
    width:100%;
    text-align:center;
    font-weight:500;
    border-top-right-radius:0.8rem ;
    border-top-left-radius:0.8rem ;
}
.feature-section-5-items p{
    margin-bottom:1rem;
}
.feature-section-5-items h4{
    margin-bottom:1rem;
}
.feature-section-5-items button{
    border:1px solid #3cc68a37;
    color:#3CC68A;
    background:white;
    font-weight:700;
    padding:0.8rem 1.5rem;
    border-radius:0.5rem;
    margin-bottom:2rem;
}
.feature-section-5-items .details{
    display:flex;
    gap:0.4rem; 
}
.feature-section-5-items .details i{
    font-size:0.8rem;
    position:relative;
    top:0.3rem;
}
/* feature section 5 end */
/* responsive - tablet approach start */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction:column;
        background:none;
        justify-content:center;
        align-items: center;
        text-align:center;
    }
    nav ul li{
        
        margin-top:2rem;
    }
    nav ul li a{
        width:100%;
        height:auto;
        padding:1rem 2rem;
        background-color:#3CC68A;
        color:white;
    }
    .fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas{
        display:none;
    }
    .logins{
        display:none;
    }
    .header-banner{
        flex-direction:column-reverse;
        padding:3rem;
    }
    .header-banner-text{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .header-banner-text h1{
        font-size:3rem;
    }
    .header-banner-text p{
        font-size:1.5rem;
        text-align:left;
        line-height:2rem;
    }
    .header-banner-picture img{
        width:550px;
    }
    .header-banner-inputs{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        padding:1rem;
    }
    .header-banner-inputs input{
        margin-bottom:1rem;
    }
    .feature-1-items-container{
        flex-direction:column;
    }
    .feature-1-item h6,p{
        font-size:1.5rem;
    }
    .feature-item-2-picture img{
        width:80%;
        height:auto;
    }
    .feature-section-3-container{
        grid-template-columns:repeat(2,1fr);
        transition:all 0.4s ease;
    }
    .feature-section-4-item-container{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        justify-content: center;
        align-items:center;
        
    }
    .feature-section-4-items{
        width:80%;
        margin:0px auto;
    }
    .feature-section-4-items:nth-child(even) {
        background-color:#3CC68A;
        color:white;
    }
    .feature-section-5-item-container{
        flex-direction:column;
        width:100%;
    }
    
    .feature-section-5-items{
        border:1px solid #00a99e31;
        border-radius:0.8rem;
        width:auto;
    }
}
/* responsive - tablet approach end */

/* responsive - mobile approach start */
@media screen and (max-width: 576px) {
    nav {
        flex-direction:column;
        background:none;
        justify-content:center;
        align-items: center;
        text-align:center;
    }
    nav ul li{
        display:flex;
        justify-content:space-around;
        align-items: center;
        margin-top:1rem;
    }
    nav ul li a{
        width:100%;
        height:auto;
        padding:1rem;
        background-color:#3CC68A;
        color:white;
    }
    .fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas{
        display:none;
    }
    .logins{
        display:none;
    }
    .header-banner{
        flex-direction:column-reverse;
        padding:3rem;
    }
    .header-banner-text{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .header-banner-inputs{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        padding:1rem;
    }
    .header-banner-inputs input{
        margin-bottom:1rem;
    }
    .feature-1-items-container{
        flex-direction:column;
    }
    .feature-1-item h6,p{
        font-size:1.5rem;
    }
    .feature-item-2-picture img{
        width:80%;
        height:auto;
    }
    .feature-section-3-container{
        grid-template-columns:repeat(1,1fr);
        transition:all 0.4s ease;
    }
    .feature-section-4-item-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        max-width:80%;
        margin:50px auto;
    }
    .feature-section-4-items{
        width:60%;
    }
    .feature-section-4-items:nth-child(odd){
        background-color:black;
        color:white;
    }
    .feature-section-5-item-container{
        flex-direction:column;
        
    }
    .feature-section-5-items{
        border:1px solid #00a99e31;
        border-radius:0.8rem;
    }
}
/* responsive - mobile approach end */